<h1>Register</h1>

<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First Name: </label>
		<input type="text" name="user[first_name]">
	</p>
	<p>
		<label>Last Name: </label>
		<input type="text" name="user[last_name]">
	</p>
	<p>
		<label>Email: </label>
		<input type="email" name="user[email]">
	</p>
	<p>
		<label>City: </label>
		<input type="text" name="user[city]"><%= select_tag :state, options_for_select(us_states) %>
	</p>
	<p>
		<label>Password: </label>
		<input type="password" name="user[password]">
	</p>
	<p>
		<label>Password Confirmation: </label>
		<input type="password" name="user[password_confirmation]">
	</p>	
	<input type="submit" value="Register">
</form>