<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= stylesheet_link_tag "default", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>

    






  <%= csrf_meta_tags %>
</head>
<body>
<h1></h1>

	<script src="/assets/jquery.js" type="text/javascript"></script>
	<script src="/assets/jquery_ujs.js" type="text/javascript"></script>
	<script src="/assets/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/classie.js" type="text/javascript"></script>
    <script src="/assets/event_index.js" type="text/javascript"></script>  
	<script src="/assets/html5shiv.min.js" type="text/javascript"></script>
	<script src="/assets/jquery.appear.js" type="text/javascript"></script>
	<script src="/assets/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<script src="/assets/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/.js" type="text/javascript"></script>
    <script src="/assets/landing.js" type="text/javascript"></script>
    <script src="/assets/masonry.js" type="text/javascript"></script>
    <script src="/assets/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/assets/modernizr-2.7.1.js" type="text/javascript"></script>
    <script src="/assets/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/assets/profile.js" type="text/javascript"></script>
    <script src="/assets/skel.min.js" type="text/javascript"></script>  
    <script src="/assets/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="/assets/typed.js" type="text/javascript"></script>
    <script src="/assets/util.js" type="text/javascript"></script>  
	<script src="/assets/wow.min.js" type="text/javascript"></script>

<%= yield %>



</body>
</html>

